body{
    margin: 0;
}

.navbar{
    background-color: #9A876B;
    border-bottom: solid 2px #e7413b;
}

.rowContent{
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.rowContent h1{
    color: #E7413B
}

.categorias{
    display: flex;
    flex-direction: row;

}

.categorias p{
    color: #ffffff;
    margin-right:20px;
}