body{
    margin: 0;
}

.navbar{
    background-color: black;
    border-bottom: solid 2px #e7413b;
}

.rowContent{
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.logo{
    width: 180px;
    margin-top: 4px;
}

.rowContent h1{
    color: #E7413B
}

.categorias{
    display: flex;
    flex-direction: row;
}

.categorias p{
    color: #ffffff;
    margin-right:20px;
    text-decoration: none;
}
.categorias a:link, a:visited, a:active {
    text-decoration:none;
}

.cart{
    position: relative;
    top: 13px;
    width: 17px;
}